.go-back a {
    text-decoration: none;
    color: red;
}

.modal {
    position: fixed;
    top: 19rem;
    left: 21rem;
    width: 48vw;
    height: 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(22, 4, 113);
}

.modal-container {
    background-color: #fff;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 130px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.prfileName {
    font-family: "Gilroy", sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

.profile-title {
    text-align: center;
    color: #11111199;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    font-family: "Gilroy", sans-serif;
    padding-top: 7px;
    letter-spacing: 0.5px;
}

.social-media {
    height: 144px;
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: space-evenly;
}

.social-media-icon {
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.Achivement {
    display: flex;
    padding-top: 10px;

}

.Achivement .award {
    font-family: "Gilroy", sans-serif;
    padding: 10px;
    text-align: center;
}

.award p {
    font-size: 12px;
    color: #00000040;
    font-weight: 600;
    line-height: 17.15px;
    letter-spacing: 0.4px;
    padding-top: 9px;
}

.input-btn {
    margin-top: 12px;

}



/* ------------------------ */
.profile-imageses {
    width: 400px;
    height: 350px;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;
}

.buttons {
    padding: 12px 40px;
    color: #EF353C;
    font-family: "Gilroy", sans-serif;
    font-size: 17px;
    letter-spacing: 0.4px;
    background: white;
    border-radius: 8px;
    border: none;
    position: relative;
    bottom: 10px;
    border: 2px solid #EF353C;
}

.buttons:hover {
    background-color: #EF353C;
    cursor: pointer;
    color: #fff;
}

.profileName {
    position: relative;
    bottom: 40px;
    font-family: "Gilroy", sans-serif;
    letter-spacing: 0.7px;
}

.social-media-icon {
    width: 25%;
    height: 60%;
}

.award h2 {
    font-size: 16px;
}

.profileName {
    font-size: 18px;
    bottom: 20px;
}
@media (max-width: 480px) {
    .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 44%;
        position: fixed;
        top: 23%;
        left: 5%;
        border: none;
    }
    .model-image-block {
        width: 121%;
    }
    .modal-container{
        padding: 81px 201px;
    }
    .modal-container h2{
        font-size: 31px;
    }
    .connect-confirmation{
        font-size: 30px;
    }
    .input-connect-btnnn{
        width: 501px;
    }
    .people-confirmation{
        font-size: 30px;
    }
    .profile-title{
        font-size: 31px;
        line-height: 38px;
    }
    .award h2{
        font-size: 15px;
    }
    .social-media{
        height: 26vh;
    }
    .award p{
        font-size: 27px;
        line-height: 32px;
    }
    .buttons{
        font-size: 25px;
    }
}


